.homeWrapper {

}

.navWrapper {
    width: 100%;
    height: 50px;
    background-color: #1A1A1D;
    padding-left: 20px;
}

.nav-cmd {
    padding-top: 20px;
    width: 30px;
	height: 30px;
	background-image: url('../../assets/undraw_command-line.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.webBodyWrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 680px;
}

.webBodyLeft {
    background-color: #61892F; 
    padding-left: 20px;   
}

.wBL-h-wrapper {
    display: flex;
}

.wBL-p1 {
    margin: 0;
    font-weight: bold;
    font-size: 150px;
    color: #1A1A1D;
}

.wBL-h-bird {
    margin-top: 120px;
    width: 45px;
	height: 45px;
	background-image: url('../../assets/undraw_tree.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;    
}

.wBL-p2 {
    margin-top: -50px;
    font-size: 150px;
    color: #1A1A1D;  
    font-weight: bold;    
    margin-bottom: 0px;
}

.wBL-p3 {
    margin-top: -50px;
    font-size: 150px;
    color: #1A1A1D;  
    font-weight: bold;  
    margin-bottom: 0;  
}

.wBL-line {
    width: 400px;
	height: 80px;
	background-image: url('../../assets/line.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;     
}

.wBL-logo-wrapper {
    display: flex;
}

.wBL-git-logo {
    width: 50px;
	height: 50px;
	background-image: url('../../assets/github_logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;      
}

.wBL-linkedin-logo {
    width: 50px;
	height: 40px;
	background-image: url('../../assets/linkedin-logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;     
}

.webBodyRight {
    background-color: #1A1A1D;
}

.wBR-b-wrapper {
    padding: 25px;
}

.wBR-p1 {
    padding-left: 10px;
    padding-top: 15px;
    font-size: 18px;
    color: #6B6E6B; 
    margin: 0px;  
}

.wBR-svg {
    margin-top: 0px;
    margin-left: 35%;
    width: 250px;
	height: 150px;
	background-image: url('../../assets/svg_coding.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;  
}

.wBR-copyright p {
    font-size: 17px;
    color: #6B6E6B; 
    margin-top: 100px;
    margin-left: 42%;    
}

