.homeWrapper {
    width: 1536px;
}

.navWrapper {
    height: 50px;
    background-color: #1A1A1D;
    padding-left: 20px;
}

.nav-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0.8;
}

.nav-song {
    padding-top: 10px;
    padding-left: 92%;
}

.nav-flex-wrapper {
    display: flex;
}

.nav-cmd {
    padding-top: 30px;
    width: 20px;
	height: 20px;
	background-image: url('../../assets/undraw_command-line.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.nav-msg {
    padding-left: 5px;
    font-family: "code-medium";
    color: #fff;
}

.webBodyWrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 681px;
}

.webBodyLeft {
    /*background-color: #61892F;*/
	background-image: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url('../../assets/abs1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;        
}

.wBL-overlay {
    width: 461px;
    height: 681px;
    background-color: #1A1A1D;
    position: relative;
    top: 0%;
    opacity: 0.6;
}

.wBL-container {
    padding-left: 20px;
}

.wBL-h-wrapper {
    display: flex;
}

.wBL-p1 {
    margin: 0;
    font-weight: bold;
    font-size: 150px;
    color: #1A1A1D;
}

/*.wBL-h-tree {
    margin-top: 120px;
    width: 30px;
	height: 30px;
	background-image: url('../../assets/smiley.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;    
}*/

.wBL-p2 {
    margin-top: -50px;
    font-size: 150px;
    color: #1A1A1D;  
    font-weight: bold;    
    margin-bottom: 0px;
}

.wBL-p3 {
    margin-top: -50px;
    font-size: 150px;
    color: #1A1A1D;  
    font-weight: bold;  
    margin-bottom: 0;
}

.wBL-svgImg {
    border-radius: 5px;
    border: 2px solid #1A1A1D;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 25px;
    width: 300px;
	height: 200px;
	background-image: url('../../assets/black-svg-undraw.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;     
}

.wBL-line {
    width: 400px;
	height: 40px;
	background-image: url('../../assets/line.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;     
}

.wBL-contacts {
    display: flex;
    padding-left: 20px;
    margin-top: 30px;
    width: 230px;
    background-color: #fff;
    opacity: 0.4;  
    height: 35px; 
    border-radius: 5px;
}

.wBL-mail-logo {
    margin-top: 4px;
    margin-right: 25px;
    width: 26px;
	height: 26px;
	background-image: url('../../assets/undraw_envelope.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;      
}

.wBL-mail {
    margin-left: -10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.wBL-num-wrapper {
    display: flex;
    padding-left: 20px;
    margin-top: 10px;
    width: 230px;
    background-color: #fff;
    opacity: 0.4;  
    height: 35px; 
    border-radius: 5px;    
}

.wBL-number-logo {
    margin-top: 4px;
    margin-right: 25px;
    width: 22px;
	height: 22px;
	background-image: url('../../assets/undraw_person.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;      
}

.wBL-number {
    margin-left: -10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.wBL-logo-wrapper {
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    width: 180px;
    background-color: #fff;
    opacity: 0.4;
}

.wBL-git-logo {
    margin-left: 15px;
    margin-right: 15px;
    width: 40px;
	height: 40px;
	background-image: url('../../assets/github_logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;      
}

.wBL-linkedin-logo {
    margin-right: 15px;
    margin-top: 5px;
    width: 29px;
	height: 29px;
	background-image: url('../../assets/linkedin-logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;     
}

.wBL-instagram-logo {
    margin-right: 0px;
    margin-top: -2px;    
    width: 45px;
	height: 45px;
	background-image: url('../../assets/instagram\ logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;     
}

.webBodyRight {
    background-color: #1A1A1D;
}

.wBR-container {
    padding-left: 20px;
    padding-top: 0px;
}

/*.wBR-photo {
    border-radius: 10px;
    width: 150px;
    height: 150px;
	background-image: url('../../assets/photo1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;     
}*/

.wBR-s1-p1 {
    font-family: "code-medium";
    padding-left: 0px;
    padding-top: 0px;
    font-size: 18px;
    color: #1A1A1D;
    background-color: #fff;
    opacity: 0.4;
    width: 120px;
    /*color: #fff;*/
    margin: 0px;
    text-align: center;
}

.wBR-s1-p2 {
    font-family: "code-medium";
    padding-left: 0px;
    padding-top: 0px;
    font-size: 18px;
    color: #6B6E6B; 
}

.wBR-white {
    /*color: #61892F;*/
    color: #fff;
    opacity: 0.7;
}

#wBR-underline {
    text-decoration: none;
}

.wBR-bold {
    font-weight: bold;
}

.wBR-bold-qw {
    font-family: "code-extrabold";
}

.wBR-svg {
    margin-top: 20px;
    margin-left: 35%;
    width: 200px;
	height: 100px;
	background-image: url('../../assets/ured.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;  
}

.wBR-btn {
    width: 100px;
    height: 20px;
    background-color: #fff;
    color: #000;
}

.wBR-copyright p {
    font-size: 17px;
    color: #fff; 
    margin-top: 110px;
    margin-left: 87%;    
}

